/* Global styles */
img,
svg {
  max-width: 100%;
}

button {
  outline: 1px solid var(--mantine-color-white-smoke-9);
}

.layout {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.main {
  flex: 1;
}

/* Admin styles */

.admin-navbar {
  color: #ffffff;
}

.admin-navbar a:hover,
.admin-navbar a:focus,
.admin-navbar a:focus-visible,
.admin-navbar a:active,
.admin-navbar a[data-active] {
  background-color: var(--mantine-color-white-smoke-8);
  color: #ffffff;
}
